$white            : #FFF;
$black            : #111;
$black-light      : #333;

$gray-lighter     : #F5F5F5;
$gray-light       : #DDDDDD;
$gray-dark        : #A6A6A6;
$gray-darker      : #666666;

$blue             : #0193A1;
$blue-light       : #00A3B2;
$blue-dark        : #007580;
$blue-darker      : #004755;

$pink             : #E3188B;
$pink-dark        : #870051;

$primary-color          : $pink;
$primary-color-hover    : $pink-dark;
$secondary-color        : $blue;
$secondary-color-hover  : $blue-dark;
$tertiary-color         : $black;

$alert-color      : $pink;
$success-color    : $blue-light;
$info-color       : $gray-lighter;

$facebook-color   : #3b5998;

$m-badger_development-background_color  : #F36A22;
$m-badger_staging-background_color      : #B8D30B;
$m-badger-text-color                    : $white;
